<!DOCTYPE html5>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Hunter App</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "jquery-1.10.2.min" %>
      <%= javascript_include_tag "bootstrap" %>
      <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "mustache" %>
    
      <%= csrf_meta_tags %>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>

    <!-- header -->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <div id="logo">App Logo</div>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/post">Create Posts</a></li>
                <li><a href="/edit">Edit Posts</a></li>
                <li><a href="/evaluate">Evaluate</a></li>
                <li><a href="vote.html">Vote Posts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-navbar">
                    <a href="#" class="dropdown-toggle dropdown-wheeloffortune" data-toggle="dropdown"><span class="count-wrap"><span class="count">3</span></span>&nbsp;</a>
                    <ul class="dropdown-menu dropdown-menu-withtable" role="menu">
                        <li>
                            <table class="table table-app">
                                <tr>
                                    <td>Task Name 1</td>
                                    <td><i class="icon-points-darkgrey"></i>1000</td>
                                    <td><button class="btn btn-primary">Play</button></td>
                                </tr>
                                <tr>
                                    <td>Task Name 2</td>
                                    <td><i class="icon-points-darkgrey"></i>1000</td>
                                    <td><button class="btn btn-primary">Play</button></td>
                                </tr>
                                <tr>
                                    <td>Task Name 3</td>
                                    <td><i class="icon-points-darkgrey"></i>1000</td>
                                    <td><button class="btn btn-primary">Play</button></td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-navbar">
                    <a href="#" class="dropdown-toggle dropdown-notification" data-toggle="dropdown"><span class="count-wrap"><span class="count">3</span></span>&nbsp;</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Notification1 Lorem Ipsum Doloros</a></li>
                        <li><a href="#">Notification 2 Ipsum Hibiscus Muse Liased Noped</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-user" data-toggle="dropdown"><%= current_user.name %>  <span class="caret"></span>
                      <span id="current_user_id" style="display: none;"><%= current_user.id   %></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="task-history.html">Task History</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><%= link_to "Logout", destroy_user_session_path%></li>
                    </ul>
                </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
  <!-- end of header -->

  
      <div class="sidebar">
        
        <section class="sidebar-section overview">
            <div class="sidebar-section-row">
                <i class="icon-sidebar icon-sidebar-points"></i>
                <div class="sidebar-section-row-content">
                    <h5 class="sidebar-section-heading pull-left">Points</h5>
                    <h2 class="sidebar-section-value pull-right">2500</h2>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="sidebar-section-row">
                <i class="icon-sidebar icon-sidebar-level"></i>
                <div class="sidebar-section-row-content">
                    <h5 class="sidebar-section-heading pull-left">Level</h5>
                    <div class="sidebar-section-value pull-right">
                        <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <button class="btn btn-primary-darkbcg" data-toggle="modal" data-target="#cashout-modal">Cashout</button>
            <div class="divider"><hr/><hr/></div>
        </section>
        
        <section class="sidebar-section multiplier">
            <div class="sidebar-section-row">
                <i class="icon-sidebar icon-sidebar-multiplier"></i> 
                <div class="sidebar-section-row-content">
                    <h5 class="sidebar-section-heading">Multiplier</h5>
                </div>
            </div>
            <div class="multiplier-bar pull-left"></div>
            <h2 class="sidebar-section-value pull-right">1.5x</h2>
            <div class="clearfix"></div>
            <div class="divider"><hr/><hr/></div>
        </section>
        
        <section class="sidebar-section perks">
            <div class="sidebar-section-row">
                <i class="icon-sidebar icon-sidebar-perks"></i> 
                <div class="sidebar-section-row-content">
                    <h5 class="sidebar-section-heading">Perks</h5>
                </div>
            </div>
            <ul>
                <li><a href="#" class="icon-perk-istaken" data-toggle="modal" data-target="#perks-modal"></a></li>
                <li><a href="#" class="icon-perk-istaken" data-toggle="modal" data-target="#perks-modal"></a></li>
                <li><a href="#" class="icon-perk-isnottaken" data-toggle="modal" data-target="#perks-modal"></a></li>
                <li><a href="#" class="icon-perk-isnottaken" data-toggle="modal" data-target="#perks-modal"></a></li>
                <li><a href="#" class="icon-perk-isnottaken" data-toggle="modal" data-target="#perks-modal"></a></li>
                <li><a href="#" class="icon-perk-isnottaken" data-toggle="modal" data-target="#perks-modal"></a></li>
                <li><a href="#" class="icon-perk-isnottaken" data-toggle="modal" data-target="#perks-modal"></a></li>
                <li><a href="#" class="icon-perk-isnottaken" data-toggle="modal" data-target="#perks-modal"></a></li>
            </ul>
            <div class="divider"><hr/><hr/></div>
        </section>
        
        <section class="sidebar-section leaderboard js-sidebar-section-leaderboard">
            <div class="sidebar-section-row">
                <i class="icon-sidebar icon-sidebar-leaderboard"></i> 
                <div class="sidebar-section-row-content">
                    <h5 class="sidebar-section-heading">Leaderboard</h5>
                </div>
            </div>
            <table class="table table-condensed table-responsive table-striped table-sidebar">
                <tr>
                    <td>1</td>
                    <td>Munchads</td>
                    <td>$117</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Stephanie</td>
                    <td>$99</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Cruise</td>
                    <td>$67</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>Jaene</td>
                    <td>$9</td>
                </tr>
            </table>
            <h6><a href="leaderboard.html">More</a></h6>
        </section>
    </div>
<%= yield %>

  
      <!-- perks modal -->
    <div class="modal fade" id="perks-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h1 class="modal-title">Add a Perk</h1>
          </div>
          <div class="modal-body">
            <table class="table table-app perks-table" id="perks-table">
              <tr>
                <td><i class="perk-image"></i></td>
                <td>
                  <h3 class="perk-title">Perk Title</h3>
                  <p class="perk-description">Perk description lorem ipsum dolor sit amet consectetur</p>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td><i class="perk-image"></i></td>
                <td>
                  <h3 class="perk-title">Perk Title</h3>
                  <p class="perk-description">Perk description lorem ipsum dolor sit amet consectetur</p>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td><i class="perk-image"></i></td>
                <td>
                  <h3 class="perk-title">Perk Title</h3>
                  <p class="perk-description">Perk description lorem ipsum dolor sit amet consectetur</p>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td><i class="perk-image"></i></td>
                <td>
                  <h3 class="perk-title">Perk Title</h3>
                  <p class="perk-description">Perk description lorem ipsum dolor sit amet consectetur</p>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td><i class="perk-image"></i></td>
                <td>
                  <h3 class="perk-title">Perk Title</h3>
                  <p class="perk-description">Perk description lorem ipsum dolor sit amet consectetur</p>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td><i class="perk-image"></i></td>
                <td>
                  <h3 class="perk-title">Perk Title</h3>
                  <p class="perk-description">Perk description lorem ipsum dolor sit amet consectetur</p>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td><i class="perk-image"></i></td>
                <td>
                  <h3 class="perk-title">Perk Title</h3>
                  <p class="perk-description">Perk description lorem ipsum dolor sit amet consectetur</p>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
            </table>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!-- end of perks modal -->
    
    <!-- cashout modal -->
    <div class="modal fade" id="cashout-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h1 class="modal-title">Cashout</h1>
          </div>
          <div class="modal-body">
            <table class="table table-app perks-table" id="perks-table">
              <tr>
                <td class="wide-cell">
                  <h1>$1</h1>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td class="wide-cell">
                  <h1>$2</h1>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td class="wide-cell">
                  <h1>$5</h1>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td class="wide-cell">
                  <h1>$10 <span class="bonus-text">+$100 bonus</span></h1>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
              <tr>
                <td class="wide-cell">
                  <h1>$20 <span class="bonus-text">+$100 bonus</span></h1>
                </td>
                <td><i class="icon-points-darkgrey"></i>1000</td>
              </tr>
            </table>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!-- end of cashout modal -->
    
    <!-- task image modal -->
    <div class="modal fade task-images-modal" id="task-images-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h1 class="modal-title">Task Photos</h1>
          </div>
          <div class="modal-body">
            <div id="task-images-carousel-inmodal" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#task-images-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#task-images-carousel" data-slide-to="1"></li>
                <li data-target="#task-images-carousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="http://www.allthedresses.net/wp-content/uploads/2014/03/Emroidered-Midi-Dress.jpg" alt="...">
                </div>
                <div class="item">
                  <img src="http://www.thefashionpolice.net/wp-content/uploads/2013/01/ASOS-Skater-Dress-With-Pink-Beading.jpg" alt="...">
                </div>
                <div class="item">
                  <img src="http://media.royalcaribbean.com/content/shared_assets/images/ports/hero/LGK_01.jpg" alt="...">
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#task-images-carousel-inmodal" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#task-images-carousel-inmodal" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
        </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!-- end of task image modal -->
</body>
</html>
