<!DOCTYPE html5>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hunter App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "vendor/jquery.remodal", :media => "all" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
      <%#= javascript_include_tag "jquery-1.10.2.min" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <%= javascript_include_tag "bootstrap" %>
      <%= javascript_include_tag "mustache" %>
      <%= javascript_include_tag "jquery.remodal" %>
      <%= javascript_include_tag "metismenu" %>
      <%= javascript_include_tag "jquery.timeago" %>

  
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<!-- Behold the allveche! -->
    <!-- Behold the allveche! -->
    <div id="allveche" class="remodal-bg">

      <!-- Primary Navigation Bar -->
      <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          
          <!-- Brand and Toggling -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div> <!-- End of brand and toggling -->
          
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Left Navbar -->
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="tasks">Tasks</a></li>
              <li><a href="vote">Voting</a></li>
            </ul> <!-- End of left navbar -->

            <!-- Right Navbar -->
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="level dropddown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <%=
                  tier = 0
                    if current_user.user_tier != nil
                      tier = current_user.user_tier 
                    end  
                    i =0
                    str = ''
                    while i < tier
                      str = str + '<i class="fa fa-star"></i>'
                      i = i +1
                    end
                    while i < 3
                      str = str +  '<i class="fa fa-star disabled"></i>'
                      i = i +1
                    end
                    str.html_safe
                  %>
                </a>
                <ul class="dropdown-menu dropdown-level">
                    <li>
                      <a href="#">
                          <div>
                              <p>
                                  <strong>Complete 10 Tasks</strong>
                                  <span class="pull-right text-muted">0% Complete</span>
                              </p>
                              <div class="progress progress-striped active">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="10" style="width: 0%">
                                      <span class="sr-only">0% Complete (success)</span>
                                  </div>
                              </div>
                          </div>
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Have a Success Rate of 0%</strong>
                                    <span class="pull-right text-muted">70% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        <span class="sr-only">0% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" onclick="fetchPointsWon()" class="points-counter dropddown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-database"></i>
                  <%= 
                  str = ''
                  
                  points = User.where('id = ?', current_user.id).first().total_reward
                  if points == nil
                  points = 0
                  end  
                  pointsArr = points.to_s.split('')
                  pointsArr.each {
                    |x| str = str + '<span class="counter-digit">' + x + '</span>'
                    }
                  str.html_safe
                %>

                </a>
                <ul class="dropdown-menu dropdown-notifications" id="points_notification_id">

                </ul>
              </li>
              <li id="profile">
                <a href="profile"><span class="avatar"><%= if  current_user != nil 
                current_user.name[0] 
                end%></span></a>
                <span id="current_user_id" style="display: none;"><%= if  current_user != nil  
                current_user.id   
        end %></span>
              </li>
              <li class="dropdown" id="moar">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><i class="fa fa-clock-o"></i> History</a></li>
                  <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="/users/sign_out"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                </ul>
              </li>
            </ul> <!-- End of right nav bar -->

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

      </nav> <!-- End of Primary Navigation Bar -->

      <!-- Subnavigation Bar -->
      <div class="subnav" role="navigation">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#modal"><i class="fa fa-dollar"></i> Withdraw Cash</a></li>
            <li><a href="#achievements-modal"><i class="fa fa-star"></i> Achievements</a></li>
            <li><a href="leaderboard"><i class="fa fa-trophy"></i> Leaderboard</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%=
            str = ''
            userperks = Perk.where('perks.status = 1 and user_id = ?', current_user.id).joins('inner join user_perks up on up.perk_id = perks.id and up.status = 1 ')
              #UserPerk.where('user_perks.status = 1 and user_id = ? ', current_user.id).joins('inner join perks on perks.id = user_perks.perk_id')
            
            for userperk in userperks
              str = str + '<li><a data-original-title="' + userperk.name + '" href="#" tabindex="0" 
                   role="button" data-toggle="popover" data-trigger="focus" 
                   title="" data-placement="bottom" 
                   data-content="' + userperk.description + '">
                  <i class="fa ' + userperk.symbol + '"></i>
              </a>
            </li> '
            end  
            str.html_safe
            %>

            <li><a id="perk-store" href="#perk-store-modal"><span>+</span></a></li>
          </ul>
         </div>
      </div> <!-- End of Subnavigation Bar -->



      <!-- Content wrapper -->
      <%= yield %>       </div> <!-- End of-->

    </div> <!-- End of AllVeche -->

    <!-- Withdraw Cash Modal -->
    <div class="remodal" data-remodal-id="modal">
      <h2>Withdraw Cash<a class="pull-right remodal-cancel"><i class="fa fa-close"></i></a></h2>
      <!-- Modal Body -->
      <div class="remodal-body">
        <table class="table table-xl">
          <tbody>
            <tr>
              <td><i class="fa fa-dollar"></i>5</td>
              <td><span class="points pull-right"><i class="fa fa-database"></i> 1000</span>
            </tr>
            <tr>
              <td><i class="fa fa-dollar"></i>10</td>
              <td><span class="points pull-right"><i class="fa fa-database"></i> 1000</span>
            </tr>
            <tr>
              <td>
                <i class="fa fa-dollar"></i>20
                <br>
                <span class="bonus"> + $1 bonus
                </span>
              </td>
              <td><span class="points pull-right"><i class="fa fa-database"></i> 1000</span></td>
            </tr>
            <tr>
              <td><i class="fa fa-dollar"></i>40</td>
              <td><span class="points pull-right"><i class="fa fa-database"></i> 1000</span>
            </tr>
          </tbody>
        </table>
      </div><!-- End of Modal Body -->
      <!-- Modal Footer -->
      <div class="remodal-footer">
        <div class="checkout-info">
          Total cost: 
          <span class="points"><i class="fa fa-database"></i> 1000</span>
          <i class="fa fa-caret-right"></i>
          Cash: $5
        </div>
        <a class="pull-right btn btn-primary remodal-confirm" href="#">Withdraw</a>
      </div><!-- End of Modal Footer -->
    </div><!-- End of Withdraw Cash Modal -->
    
      <!-- Perks Store Modal -->
    <div class="remodal" data-remodal-id="perk-store-modal">
      <h2>Get Perks<a class="pull-right remodal-cancel"><i class="fa fa-close"></i></a></h2>
      <!-- Modal Body -->
      <div class="remodal-body">
        <table class="table table-xl">
          <tbody>
            <%=
            perks = Perk.where('status = 1')
            str = ''
            for perk in perks
             str = str + '<tr class="selectable" onclick="purchaseperk('+ perk.id.to_s + ')"><td><i class="fa fa-trophy"></i></td>'
             str = str +  '<td><h3>' + perk.name + '</h3><p>' + perk.description + '</p></td>'
            str = str +  '<td><span class="points pull-right"><i class="fa fa-database"></i>+'+ perk.cost_formula + '</span></tr>'
            end
            str.html_safe
            %>
          </tbody>
        </table>
      </div><!-- End of Modal Body -->
      <!-- Modal Footer -->
      <div class="remodal-footer">
        <div class="checkout-info">
          Total cost: 
          <span class="points"> <i class="fa fa-database"></i> 0</span>
        </div>
        <a class="pull-right btn btn-primary remodal-confirm" href="#">Commit</a>
      </div><!-- End of Modal Footer -->
    </div><!-- End of Purchase Tasks Modal -->
    
    
        <!-- Achievements Modal -->
    <div class="remodal" data-remodal-id="achievements-modal">
      <h2>My Achievements<a class="pull-right remodal-cancel"><i class="fa fa-close"></i></a></h2>
      <!-- Modal Body -->
      <div class="remodal-body">
        <table class="table table-xl">
          <tbody>
            <%=
            achievements = Achievement.where('status = 1')
            str = ''
            for achievement in achievements
                cnt = UserAchievement.where('user_id = ? and achievement_id = ?', current_user.id ,achievement.id).count
                
                if cnt > 0
                  str = str + '<tr class="disable">'
                end
                if cnt == 0
                  str = str + '<tr class="selectable">'
                end
                str = str + '<td><i class="fa fa-trophy"></i></td>
              <td><h3>' + achievement.name + '</h3><p>' + achievement.description + '</p></td>
              <td><span class="points pull-right"><i class="fa fa-database"></i> +' + achievement.fixed_reward.to_s + '</span>
            </tr>'
              end
            str.html_safe
            %>
          </tbody>
        </table>
      </div><!-- End of Modal Body -->
    </div><!-- End of Achievements Modal -->
    
    <%= javascript_include_tag "application" %>
    <script id="points">
      {{#.}}
          <li>
            <a href="#">
              <div>
              {{title}} <span class="small text-muted">( <abbr class="timeago" title="{{created_at}}">{{created_at}}</abbr>)</span>
                <span class="pull-right points"><i class="fa fa-database"></i> {{total_amt}}</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          {{/.}}
    </script>  
</body>